[submodule "benchmark/vendor/benchmark"]
	path = benchmark/vendor/benchmark
	url = git@github.com:Matazure/benchmark.git
[submodule "test/vendor/googletest"]
	path = test/vendor/googletest
	url = git@github.com:Matazure/googletest.git
[submodule "vendor/android-cmake"]
	path = vendor/android-cmake
	url = git@github.com:Matazure/android-cmake.git
