[submodule "benchmark/vendor/benchmark"]
	path = third_party/benchmark
	url = https://github.com/Matazure/benchmark.git
[submodule "test/vendor/googletest"]
	path = third_party/googletest
	url = https://github.com/Matazure/googletest.git
[submodule "third_party/stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb.git
