# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.exp

# Visual Studio
*.db
*.pdb
*.opendb
.vs
CMakeSettings.json

vs
build
build_android
build_linux
build_win
build_bash
build_icc
build_android_icc
tmp

bin
log
x64

.vscode
core*

*.png
*.jpg
*.bmp

lenna.png

*.raw